.avatar {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  object-fit: contain;
}

@include media-breakpoint-down(sm) {
  .wg-about .avatar {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }
}
