.avatar {
  width: 380px;
  height: 570px;
  margin: 0 auto;
  object-fit: contain;
}

@include media-breakpoint-down(sm) {
  .wg-about .avatar {
    width: 190px;
    height: 285px;
    object-fit: contain;
  }
}
