.avatar {
  width: 250px;
  height: 375px;
  margin: 0 auto;
  object-fit: contain;
}

.author-card .avatar {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

@include media-breakpoint-down(sm) {
  .wg-about .avatar {
    width: 190px;
    height: 285px;
    object-fit: contain;
  }
}
